---
---

<footer class="bg-lazaro text-white pt-16 pb-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap gap-12 mb-12">
      <div class="flex-1 min-w-[250px]">
        <p class="opacity-80 mb-4"><span class='font-bold'>Areda Consultores</span> Contacta un equipo de profesionales ofrece soluciones personalizadas en áreas contables, financieras, tributarias y jurídicas.</p>
        <p class="opacity-80 text-sm">Teléfono: +57 318 793 5393</p>
        <p class="opacity-80 text-sm">Email:
          <a href="mailto:contacto@aredasas.com" class="text-white hover:text-accent">
            contacto@aredasas.com
          </a>
        </p>
      </div>
      <div class="flex-1 min-w-[250px]">
        <p class="opacity-80 mb-4"><span class='font-bold'>Lazaro Software</span> Lázaro Software, es una empresa 100% Tolimense que tiene 20 años en el mercado dedicados a desarrollar soluciones informáticas eficientes.
        </p>
        <p class="opacity-80 text-sm">Teléfono: +57  316 820 4407</p>
        <p class="opacity-80 text-sm">Email:
          <a href="mailto:soporte@lazarosoftware.com" class="text-white hover:text-accent">
            soporte@lazarosoftware.com
          </a>
        </p>
      </div>

      <div class="flex-1 min-w-[250px]">
        <p class="opacity-80">Federación Nacional de Comerciantes</p>

        <p class="opacity-80">Teléfono: +57 (601) 3500 600</p>
        <p class="opacity-80">Email:
          <a href="mailto:servicioalcliente@fenalco.com.co" class="text-white hover:text-accent">
            servicioalcliente@fenalco.com.co
          </a>
        </p>
      </div>
    </div>
    <div class="text-center">
      <p class="opacity-80 mt-10">© 2024 Areda Consultores Integrales SAS. Todos los derechos reservados.</p>
      <p class="opacity-80 text-xs">Desarrollado por
        <a href="https://aredasas.com" target="_blank" class="text-white hover:underline">Areda Consultores</a>
      </p>
      <p class="opacity-80 text-xs">En colaboración con
        <a href="https://lazarosoftware.com" target="_blank" class="text-white hover:underline">Lazaro Software</a>
      </p>
      
    </div>
  </div>
</footer>

