---
---

<section class="py-20 bg-primary">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto">
      <div class="relative rounded-lg overflow-hidden shadow-2xl" style="padding-bottom: 56.25%;">
        <iframe 
          class="absolute top-0 left-0 w-full h-full border-0"
          src="https://www.youtube.com/embed/Ai_uUYOxIxk?si=aG5JbQYWwmOB_rQi" 
          title="Aspectos Claves Para el Reporte de la Información Exógena DIAN Año 2023" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</section>
