---
import Layout from '@layouts/Layout.astro'
---

<script>
  document.location.href = '/eventos/presentacion-exogena-2024'
</script>

<Layout title='Areda Consultores Integrales SAS'>
  <main></main>
</Layout>
